.lpPopupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.retourForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
