.lpPopupContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lpButton {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  display: flex;
}

.textButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.retourForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
