.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  margin-right: 10vw;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 12px;
  font-family: 'Public';
}
