.header {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.user {
	display: flex;
	align-items: center; 
	margin: 10px;
	font-family: 'Public';
}

.user > p {
	margin: 5px 10px;  
}