.progress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.barreProgression {
	display: flex;
	width: 80vw;
	text-align: center;
}

.progressGreen {
	background-color: var(--second);
	width: 60%;
	height: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -1%;
}
.progressGrey {
	background-color: var(--stat-back);
	width: 40%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -1%;
}

.marginbottomProgress {
	margin-bottom: 8px;
}
