.connexion {
    background-color: var(--main);
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: absolute;
}

.bienvenue {
    background-color: white;
    border-radius: 5%;
    width: 60vw;
    height: 35vh;
    z-index: 2;
}

.boutonEntrer {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 40px 0; 
}
