.astuces {
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: 2em; */
	color: var(--main);
}

.astuces img {
	margin: 40px 0 20px 0;
	width: 25%;
}

.basdepage {
	/* position: absolute; */
	bottom: 0;
	display: flex;
	flex-direction: column;
}


.defi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.go > p {
	font-size: 20px;
	font-family: 'EnedisBold';
}

.go {
	display: flex; 
	justify-content: center;
	align-items: center;
}

.description {
	font-family: var(--fontBody); 
	margin-bottom: 16px; 
}

.entete {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 12px;
	background-color: var(--main-back);
}

.entete >h1 {
	margin-bottom: 8px;
}

.fil {
	position: absolute;
	top: -20vh;
	width: 100%;
}

.fil img {
	width: 100%;
}

.home {
	display: flex; 
	flex-direction: column;  
}

.launchGame {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main);
	text-decoration: none;
	border-radius: 20px; 
	color: white; 
	padding: 8px 20px; 
	min-width: fit-content;
	font-family: var(--fontSoustitre);
	font-size: 20px; 
	margin: 20px 0 20px 0;
}


.logo img {
	display: flex;
	width: 40%;
}

.managerContainer {
	background-color: var(--stat-back);
	width: 100vw;
}

.fondamentaux {
	margin : 40px 0; 
	padding : 0 20px; 
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 20px;
}
.fondamentaux > img {
	transition: transform .1s; 
}

.fondamentaux > img:hover{
	transform: scale(1.2);
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 4 / 3 / 5; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 2 / 2 / 3 / 3; }
.div8 { grid-area: 2 / 1 / 3 / 2; }
/* .title {
	color: var(--main);
	font-size: 2em;
	font-family: 'enedis';
	margin-bottom: 12px;
} */

.prevContainer {
	margin: 5vw; 
	padding: 5vw;
	width: 90vw;
	background-color: var(--second);
}