:root {
  --main: #1423dc;
  --second: #96cd32;
  --main-back-300: #daddfc;
  --main-back-200: #f6f6fe;
  --neutral-100: #f1f2f3;
  --neutral-200: #e9ebec;
  --neutral-300: #dee0e3;
}

.hidden {
  display: none;
}
