*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	/* background-color: whitesmoke; */
}

/* a {
	text-decoration: none;
	color: white;
} */

@font-face {
	font-family: 'Public';
	src: local('Public'), url('./fonts/PublicSans.ttf') format('truetype');
}

@font-face {
	font-family: 'Enedis';
	src: local('Enedis'), url('./fonts/enedis.ttf') format('truetype');
}
